/* styles.css */
/* style.css */

.total {
  transition: background-image 0.5s ease-in-out;
  width: full;
 
}

.readmore-button {
  padding: 4px 8px; /* Adjust padding for smaller size */
  font-size: 0.875rem; /* Adjust font size */
  width: 100px;
}

.readmore-button:hover {
  color: black; /* Ensure the hover color remains consistent */
  background-color: white;
}
.total2{
  width: full;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}